.oil-water-detail-wrap {
  height: 100%;
  .detail-top {
    padding: 50px;
    .name {
      color: #333;
      font-size: 36px;
      padding-bottom: 10px;
    }
    .number {
      font-size: 26px;
      color: #666;
    }
    .time {
      text-align: center;
      color: #333;
      font-size: 26px;
      padding-top: 70px;
    }
  }
}
