.nodata-wrap {
  height: 560px;
  position: relative;
  .item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 30px;
    text-align: center;

    font-size: 30px;
    color: #909399;
  }
}
